/* {
  border: 1px solid red;
}
*/
:root {
  @font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto");
  }
}

ul {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: Roboto;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* HEADER */
.header {
  grid-column: 2;
  grid-row: 1;

  background-color: white;
  padding-inline: 32px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  align-items: center;
}

.search {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
}

.search img {
  width: 24px;

  align-self: end;
}

.search input {
  width: 90%;
  border-radius: 15px;
  border: none;
  background-color: #dbeafe;
  padding-block: .5em;
}

.user-infos {
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
}


.user-infos .name {
  font-weight: 700;
  font-size: 0.9rem;
}

.user-infos .bell {
  width: 24px;
}

.user-infos img {
  width: 50px;
  border-radius: 50%;
  justify-self: end;
  margin-right: 16px;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  justify-items: center;
  justify-self: flex-start;
}

.landing img {
  grid-row: span 2;

  max-width: 100px;
  border-radius: 50%;

  margin-right: 24px;
}


.landing .hello,
.landing .name {
  justify-self: start;
}

.landing .hello {
  font-weight: 700;
  font-size: 0.75rem;
  align-self: end;
}

.landing .name {
  font-weight: 700;
  font-size: 1.2rem;
  align-self: start;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  gap: 16px;
}

.buttons button {
  padding-inline: 16px;
  padding-block: 8px;

  background-color: #3b82f6;

  color: white;
  font-weight: 700;
  font-size: clamp(8px, 1.1rem, 16px);

  border: none;
  border-radius: 24px;
}

/* ASIDE */
aside {
  grid-column: 1;
  grid-row: span 2;
  background-color: #60a5fa;

  padding-inline: 32px;
  padding-top: 16px;

  display: grid;
  align-content: start;
  gap: 32px;
}

aside a {
  font-weight: 600;
}

aside img {
  max-width: 18px;
}

aside li {
  font-size: 1.2rem;
}

.logo {
  color: white;

  display: grid;
  grid-template-columns: 42px 1fr;
  align-items: center;
  font-weight: 800;
  font-size: clamp(18px, 1.5rem, 24px);
}

aside span {
  margin-left: 8px;
}

.logo img {
  max-width: 42px;
}

.internal-links, .settings-links {
  display: grid;
  gap: 16px;
}

.internal-links li,
.settings-links li {
  display: grid;
  grid-template-columns: 18px 1fr;
  align-items: center;
}

/* MAIN */
main {
  grid-column: 2;
  background-color: #eff6ff;

  padding: 16px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 32px;
}

/* Card */
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 32px;
}

.card {
  background-color: white;
  padding-block: 16px;
  padding-inline: 24px;
  box-shadow:
  inset 8px 0 orange,
  3px 3px 3px #BBB;
  border-radius: 5px;
}

h4 {
  margin-bottom: 8px;
}

.card .text {
  font-size: clamp(8px, 1.1rem, 16px);
  font-weight: 300;
  color: #777;
}

.card .icons {
  display: flex;
  justify-content: end;
  gap: 24px;
  padding-top: 8%;
  padding-bottom: 5%;
}

.card img {
  max-width: 24px;
}


/* Annoucements */
.article-wrapper {
  display: grid;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-inline: 32px;
  box-shadow: 3px 3px 3px #BBB;
  border-radius: 10px;
}

.article:not(:last-child) {
  max-width: 90%;
  padding-bottom: 16px;
  border-bottom: 1px solid lightgray;
}

.article .text {
  font-size: clamp(8px, 0.7rem, 16px);
  font-weight: 300;
  color: #777;
}

/* Twitter */
.twitter-wrapper {
  display: grid;
  background-color: white;
  padding-top: 16px;
  padding-bottom: 32px;
  padding-inline: 32px;
  box-shadow: 3px 3px 3px #BBB;
  border-radius: 10px;
  row-gap: 16px;
  justify-items: stretch;
}

.twitter-card {
  display: grid;
  grid-template-columns: 50px 2fr;
  align-items: center;
}

.twitter-card img {
  grid-row: span 2;
  border-radius: 50%;

  justify-self: end;
  margin-right: 16px;
  width: 50px;
}

.twitter-addr, .username {
  font-size: clamp(8px, 0.7rem, 16px);
  font-weight: 300;
}

.username {
  color: #777;
  align-self: start;
}

.twitter-addr {
  color: #333;
  align-self: end;
}
